* {
    margin: 0;
    padding: 0;
}

#section-form {
    width: calc(100% - 8rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
    background-color: snow;
}

#section-form > h2 {
    font-size: 2rem;
}

#section-form > form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.fieldset-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
}

.fieldset-form > input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0;
    font-size: 1rem;
    border: 2px solid lightgray;
    background-color: white;
}

.fieldset-form > label {
    font-size: 1.3rem;
    color: black;
}

#section-form > form > button {
    font-size: 1.5rem;
}